@font-face{
	font-family: 'OSL';
	src: url('./fonts/OpenSans-Light.ttf');
}

@font-face{
	font-family: 'OSR';
	src: url('./fonts/OpenSans-Regular.ttf');
}

@font-face{
	font-family: 'OSB';
	src: url('./fonts/OpenSans-Bold.ttf');
}

body{
	box-sizing: border-box;
	font-family: helvetica, sans-serif;
}

*,  *:before,  *:after{
	box-sizing: inherit;
	font-family: inherit;
}

.-thm{
	--red: #cc5258;
	--red-highlight: #bc383d;
	--black: #111;
	--white: #fff;


	--nav-height: 70px;
}

.-fade-in{
	opacity: 0;
	transform: translateY(2%);
}
.-active.-fade-in, .-active > .-fade-in{
	opacity: 1;
	transform: translateY(0%);
}

.-fade-out{
	opacity: 0;
	transform: translateY(-2%);
}
.-fade-out.-active, .-active > .-fade-out{
	opacity: 1;
	transform: translateY(0%);
}

.-trans-02{
	transition: 
		0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) opacity,
		0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) transform;
}

.-trans-02-02{
	transition: 
		0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) opacity,
		0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) transform;
	transition-delay: 0.2s;
}

.-trans-02-03{
	transition: 
		0.2s ease opacity,
		0.2s ease transform;
	transition-delay: 0.3s;
}
.-trans-02-05{
	transition: 
		0.2s ease opacity,
		0.2s ease transform;
	transition-delay: 0.5s;
}

.-trans-02-04{
	transition: 
		0.2s ease opacity,
		0.2s ease transform;
	transition-delay: 0.4s;
}

.-fade-trans{
	transition: 0.2s ease opacity,
		 		0.2s ease transform;
}

.-slide-left{
	transform: translateX(-50%);
}

.-btn{
	display: inline-block;
    padding: 16px 48px;
	margin: 10px;
	background: transparent;
	border: 2px solid white;
    color: #fff;
	cursor: pointer;
	text-decoration: none;
	/* text-transform: uppercase; */
}

.-hover-red:hover, 
.-hover-red:focus{
	color: var(--red);
}
.-hover-bg-red:hover,
.-hover-bg-red:focus{
	background: var(--red);
}
.-hover-b-red:hover, 
.-hover-b-red:focus{
	border-color: var(--red);
}

.-hover-b-red-highlight:hover, 
.-hover-b-red-highlight:focus{
	border-color: var(--red-highlight);
}
.-hover-bg-red-highlight:hover, 
.-hover-bg-red-highlight:focus{
	background: var(--red-highlight);
}

.-red{color: var(--red);}
.-bg-red{background: var(--red);}
.-b-red{border-color: var(--red);}
.-red-highlight{color: var(--red-highlight);}
.-bg-red-highlight{background: var(--red-highlight);}
.-b-red-highlight{border-color: var(--red-highlight);}
.-overlay-04{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;

	background: rgba(0,0,0,0.4);
	z-index: 0;
}
.-col-50{
	float: left;
	width: 50%;
}

.-col-33{
	float: left;
	width: calc(100% / 3);
}

.-col-30{
	float: left;
	width: 30%;
}

.-col-70{
	float: left;
	width: 70%;
}

.-col-40{
	float: left;
	width:  40%;
	max-width: 240px;
	overflow: hidden;
}

.-col-60{
	float: left;
	width: 60%;
	max-width: 400px;
	overflow: hidden;
}

.-bg{
	background-size: cover;
	background-repeat: no-repeat;
}

.-bg-1{
	background-image: url('./img/bg6.jpg');
}
.-text-shadow{
	text-shadow: #111 1px 1px;
}

.-section{
	width: 100vw;
	min-height: calc(100vh - var(--nav-height));
	padding-top: var(--nav-height);
	overflow: hidden;
}

#cover{
	position: fixed;
	width:100vw;
	height: 100vh;
	top:0;
	left:0;
	/* pointer-events: none; */
	/* display: none; */
}

#cover.-active{
	pointer-events: initial;
	/* display: initial; */
}


.-cover-logo{
	top: 10px;
	left: -5px;
	margin-left: -20px;
}

.-yt-block{
	margin-top: 40px;
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.-yt-block iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.-bar{
	background: var(--red);
	height: 5px;
	width: 40px;
}

.-dark-text{
	color: #222;
}

.-text{
	/* font-family: OSL; */
	letter-spacing: -.004em;
	color: rgba(0,0,0,.84);
}

.-text-title{
	/* font-family: OSR; */
	font-weight: 100;
	line-height: 1.04;	
	letter-spacing: -0.05em;
}
#scrollable{
	transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) transform;
	transform: translateX(100%);
}

#scrollable.-active{
	position: absolute;
	transform: translateX(0%);
}

.-nav-bar{
	position: fixed;
	top:0;
	left: 0;
	width: 100vw;
	height: var(--nav-height);
	line-height: var(--nav-height);
	overflow: hidden;
	opacity: 0;
	transform: translateY(-100%);
	transition: 0.3s ease transform,
			    0.3s ease opacity;
	background: #fff;
}

.-nav-bar.-active{
	opacity: 1;
	transform: translateY(0%);
}

.-nav-brand{
	margin: 0 5px;
    position: relative;
	top: 10px;
	cursor: pointer;
}
.-nav-title{
}

.-nav-opt{
	position: relative;
	margin: 0 18px;
	cursor: pointer;
}

.-nav-opt:after{
	content: '';
	position: absolute;
	left: calc(50% - 15px);
	bottom: -8px;
	width: 30px;
	height: 3px;
}

.-nav-opt.-active:before,
.-nav-opt.-active:after
{
	background: var(--red);
}
.-max-w-960{
	width: 100%;
	margin: auto;
	max-width: 960px;
}

#roadmap{
	/* backgro	und: #fcfcfc; */
}
.-road-block{
	background: #222;
	color: #fff;
	overflow: hidden;
	height: 80px;
	line-height: 80px;
	text-align: center;
	margin-bottom: 20px;
	font-weight: 100;
}

.-road-block-2{
	background: #222;
	color: #fff;
	overflow: hidden;
	height: 80px;
	text-align: center;
	margin-bottom: 20px;
	padding-top: 20px;
	font-weight: 100;
}

.-bg-business{
	background: url('./img/business.jpg');
	background-size:cover;
}

.-bg-discover{
	background: url('./img/idea.jpg');
	background-size:cover;
}

.-bg-prototype{
	background: url('./img/prototype.jpg');
	background-size:cover;
}

.-roadmap-img{
	width: 100%;
	height: 200px;
}

.-roadmap-num{
	position: relative;
	z-index: 2;
	top: -25px;
	width: 50px;
	height: 50px;
	margin: auto;
	text-align: center;
	line-height: 50px;
	color: #fff;
	background: #2087ff;
	border-radius: 100%;
}

#schedule{
    background: url(./img/hypnotize.png);
    background-attachment: fixed;
	padding-top: 10px;
	padding-bottom: 50px;
}

.-title-icon{
    position: relative;
    top: 18px;
	width: 64px;
	margin-right: 10px;
}

.-nav-register{
	border: 2px solid black;
    background: #fff;
    padding: 10px;
}


.-max-200{
	max-width: 400px;	
}



#faq{
	background: #fff;
	padding-top: 10px;
	padding-bottom: 50px;
}

.faq-content{
	width: 700px;
	max-width: 80%;
	margin: auto;
}

#finalRegister{
	position: relative;
	top: -70px;
}






/*MOB FROM HERE*/


.-mob-nav-bar{
	position: fixed;
	top:0;
	left: 0;
	width: 100vw;
	height: var(--nav-height);
	line-height: var(--nav-height);
	overflow: hidden;
	background: #fff;
}


.-mob-yt-block{
	background: black;
	/* margin-top: 40px; */
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}



.-stacks{
	position: fixed;
	height: 30px;
	width:60px;
	top: 5px;
	right: 10px;
	margin: auto;
	padding: 0 15px;
	/* border: 1px solid #000; */
	border-bottom: none;
	/* background: var(--accent-color); */
	/* background: var(--theme-color); */
}

.-stack{
	background:#000;
	height:2px;
	width: 100%;
	margin: 10px 0px;

	/* transition: var(--cubic-all); */
}
.-stack:first-child{
	margin-top: 20px;
}

.-stack.-active{
	transform: rotate(45deg) translateY(-9px) translateX(-8px);
}
.-stack.-active:first-child{
	transform: rotate(-45deg);
}





/*phones*/
@media (max-width:767px) {
	html{
		font-family: OSL;
	}
	.-about-img{
		width: 40%;
		height: 110px;
	}
	.-hide-xs{
		display: none!important;
	}
	.-show-xs{
		display: initial;
	}
}

/*tablet*/
@media (min-width:768px) and (max-width:991px) {
	.-hide-sm{
		display: none!important;
	}

}

/*monitor*/
@media (min-width:992px) and (max-width:1199px) {

	.-hide-md{
		display: none!important;
	}
}

/*large monitor*/
@media (min-width:1200px) {
	.-hide-lg{
		display: none!important;
	}

}


@media (max-width:767px) {
	*, *::after, *::before{cursor: default !important;}
}