body{
	/* background: #222; */
}


html{
	font-family: sans-serif;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
	font-family: inherit;
}

.-thm{
	--red: #cc5258;
	--red-highlight: #bc383d;
	--black: #111;
	--white: #fff;
}

.-fade-in{
	opacity: 0;
	transform: translateY(2%);
	transition: 0.2s ease all;
	transition-delay: 0.3s;
}

.-btn{
	display: inline-block;
    padding: 16px 48px;
    margin: 10px;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
	cursor: pointer;
	text-transform: uppercase;
    box-shadow: rgba(0,0,0,0.4) 1px 1px 3px 1px;
}

.-hover-red:hover, 
.-hover-red:focus{
	color: var(--red);
}
.-hover-bg-red:hover,
.-hover-bg-red:focus{
	background: var(--red);
}
.-hover-b-red:hover, 
.-hover-b-red:focus{
	border-color: var(--red);
}

.-hover-b-red-highlight:hover, 
.-hover-b-red-highlight:focus{
	border-color: var(--red-highlight);
}
.-hover-bg-red-highlight:hover, 
.-hover-bg-red-highlight:focus{
	background: var(--red-highlight);
}

.-red{color: var(--red);}
.-bg-red{background: var(--red);}
.-b-red{border-color: var(--red);}
.-red-highlight{color: var(--red-highlight);}
.-bg-red-highlight{background: var(--red-highlight);}
.-b-red-highlight{border-color: var(--red-highlight);}

#cover{
	color: #eee;
    background: url('./img/bg6.jpg');
    background-repeat: no-repeat;
	background-size: cover;
	opacity: 0;
	transition: 
		0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) opacity;
	/* pointer-events: none; */
}

#cover .-fade-in{
    opacity: 0;
	transition: 
		0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) opacity,
		0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) transform;
    transform: translateY(10%);
}

#cover.-active{
	opacity: 1;
	pointer-events: initial;
}

#cover.-active .-fade-in{
	opacity: 1;
	transform: translateY(0);
}

#cover:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    top: 0;
	left: 0;
	z-index: 0;
}

.-cover-text{
    /* color: #fff; */
	text-shadow: rgba(0,0,0,0.7) 1px 2px 6px;
}

.-square{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 0px;
    height: 0px;
    background: none;
	border-style: solid;
	/* transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94); */
}

.-square-1{
    border-width: 10vw;
	border-color: transparent var(--white) var(--white) transparent;
    /* box-shadow: rgba(0,0,0,0.7) -7px -4px 6px 0px; */
	/* background: var(--red); */
	transition: 0.3s ease border-width;
}

.-square-1.-active{
	border-width: 72vw;
}

#menuBlocks{
	--col-width: 350px;
	--col-height: 280px;
}
.-block-col{
	/* resize on screen */
	display: inline-block;
	position: relative;
	margin: 0 -2px;
	width: var(--col-width);
}

.-block-col:nth-child(even){
	top: -20px;
}
.-block{
	/* resize on screen */
	background: lightseagreen;	
	float: left;
	padding: 10px;
	height: var(--col-height);
	width: var(--col-width);

	border: 1px solid black;
}

.-view{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
	background: lightcoral;
}

.-view.-active{
	display: initial;
}

.-view{
	--title-height: 200px;

}

.-opt-title{
	height: var(--title-height);
}
.-sub-view-container{
	position: relative;
	height: var(--title-height);
	width: 100vw;
}

.-sub-view{
	position: absolute;
	top: 0;
	left: 0;


}	
